/* line 2, ../../../Desktop/netmatters2/scss/style.scss */
* {
  box-sizing: border-box;
  /*includes borders in box sizes */
}

/*colour key*/
/* line 9, ../../../Desktop/netmatters2/scss/style.scss */
body {
  /*base for site*/
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
  color: #666;
  line-height: 1.42857143;
  background-color: rgba(0, 0, 0, 0.03);
}

/* line 19, ../../../Desktop/netmatters2/scss/style.scss */
.header-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  max-width: 100%;
  align-items: center;
  background-color: #FFFFFF;
}

/* line 27, ../../../Desktop/netmatters2/scss/style.scss */
.header-container .top {
  /*top half of the header */
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 25px;
}

/* line 32, ../../../Desktop/netmatters2/scss/style.scss */
.header-container .top .logo {
  object-fit: contain;
  max-width: 100%;
  flex-shrink: 1;
  margin-top: 10px;
}

/* line 37, ../../../Desktop/netmatters2/scss/style.scss */
.header-container .top .logo img {
  max-width: 100%;
}

/* line 44, ../../../Desktop/netmatters2/scss/style.scss */
.phone {
  /*phone icon in header, below class creats underline */
  font-size: 30px;
  color: #333645;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* line 52, ../../../Desktop/netmatters2/scss/style.scss */
.phone:hover {
  border-bottom: 3px solid #333645;
}

/* line 56, ../../../Desktop/netmatters2/scss/style.scss */
.header-container-bottom {
  /*lower half of the header */
  flex-direction: row;
  width: 100%;
  max-height: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

/* line 63, ../../../Desktop/netmatters2/scss/style.scss */
.header-container-bottom form {
  flex-grow: 1;
}

/* line 67, ../../../Desktop/netmatters2/scss/style.scss */
.search-size {
  width: 100%;
  height: 42px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  background-color: #d6d6d6;
  border-color: #999aa2;
}

/* line 78, ../../../Desktop/netmatters2/scss/style.scss */
.header-search-button {
  height: 42px;
  width: 42px;
  color: #333645;
  font-size: 1.5rem;
  border-left: none;
  border-color: #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d6d6d6;
}

/* line 92, ../../../Desktop/netmatters2/scss/style.scss */
.header-buttons {
  border-radius: 5px;
  padding: 5 15;
  font-size: 1.15rem;
  color: #FFFFFF;
  width: 9rem;
  height: 3.5rem;
}

/* line 101, ../../../Desktop/netmatters2/scss/style.scss */
.header-support {
  background-color: #4183d7;
  border: none;
}

/* line 106, ../../../Desktop/netmatters2/scss/style.scss */
.header-contact {
  background-color: #999aa2;
  border: none;
}

/* line 112, ../../../Desktop/netmatters2/scss/style.scss */
.small {
  font-size: 0.5rem;
}

/* line 115, ../../../Desktop/netmatters2/scss/style.scss */
.navbar {
  display: flex;
  justify-content: center !important;
  background-color: #333645;
  padding: 0px !important;
}

/* line 122, ../../../Desktop/netmatters2/scss/style.scss */
.navbar-box {
  list-style-type: none;
  background-color: #333645;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0px;
}

/* line 135, ../../../Desktop/netmatters2/scss/style.scss */
.hero {
  /*hero banner */
  background: url("../bio-image/bio-web.jpg") no-repeat center;
  background-size: cover;
  height: 740px;
}

/* line 141, ../../../Desktop/netmatters2/scss/style.scss */
.hero-text {
  text-align: center;
  max-width: 100%;
  color: #FFFFFF;
  padding: 300px 15px;
}

/* line 146, ../../../Desktop/netmatters2/scss/style.scss */
.hero-text h1 {
  font-size: 48px;
  font-weight: 400;
}

/* line 150, ../../../Desktop/netmatters2/scss/style.scss */
.hero-text p {
  font-size: 20px;
  font-weight: inherit;
}

/* line 165, ../../../Desktop/netmatters2/scss/style.scss */
.hero-button {
  /*pointless mixin for hero button, was used elsewhere but deemed redundant */
  color: #FFFFFF;
  background-color: #C8A2C8;
  padding: 5px 20px;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  line-height: 50px;
}

/* line 171, ../../../Desktop/netmatters2/scss/style.scss */
.bio {
  /*netmatters bio further down the page */
  max-width: 100%;
  color: #FFFFFF;
  background-color: #333645;
  padding: 40px 15px;
  line-height: 2;
}

/* line 181, ../../../Desktop/netmatters2/scss/style.scss */
.bio-button {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #333645;
}

/* line 189, ../../../Desktop/netmatters2/scss/style.scss */
.latest-master {
  /*anything beginning with .latest is for the little bit that literally just says 'latest' with a bar below it */
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
}

/* line 194, ../../../Desktop/netmatters2/scss/style.scss */
.latest-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

/* line 200, ../../../Desktop/netmatters2/scss/style.scss */
.latest-header {
  padding-top: 30px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

/* line 208, ../../../Desktop/netmatters2/scss/style.scss */
.latest-bar {
  margin-top: 30px;
  height: 5px;
  max-width: 100%;
  background-color: #000000;
}

/* line 216, ../../../Desktop/netmatters2/scss/style.scss */
.cards-container {
  /*7 cards for services netmatters offers */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

/*background circle on cards */
/* line 237, ../../../Desktop/netmatters2/scss/style.scss */
.movedown {
  /*moves the circle into the right place on Y axis */
  line-height: 3.5rem;
}

/* line 241, ../../../Desktop/netmatters2/scss/style.scss */
.circle-bespoke {
  /*7x classes to change background of each circle */
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #67809f;
}

/* line 246, ../../../Desktop/netmatters2/scss/style.scss */
.circle-it {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #4183d7;
}

/* line 251, ../../../Desktop/netmatters2/scss/style.scss */
.circle-digital {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #2ecc71;
}

/* line 256, ../../../Desktop/netmatters2/scss/style.scss */
.circle-telecoms {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #d64541;
}

/* line 261, ../../../Desktop/netmatters2/scss/style.scss */
.circle-web {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #926fb1;
}

/* line 266, ../../../Desktop/netmatters2/scss/style.scss */
.circle-cyber {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #f62459;
}

/* line 271, ../../../Desktop/netmatters2/scss/style.scss */
.circle-dev {
  /*mixin to create the little circle on the cards */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #926fb1;
}

/* line 293, ../../../Desktop/netmatters2/scss/style.scss */
.cards {
  /*typography adjustments for the 7 cards */
  /* creates the cards */
  text-align: center;
  max-height: none;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
  background-color: #ffffff;
  box-shadow: 0 10px 6px -6px;
  color: #000000;
}

/* line 296, ../../../Desktop/netmatters2/scss/style.scss */
.cards h2 {
  font-size: 18px;
  font-weight: 400px;
}

/* line 300, ../../../Desktop/netmatters2/scss/style.scss */
.cards p {
  font-size: 13px;
  line-height: 22px;
}

/* line 306, ../../../Desktop/netmatters2/scss/style.scss */
.cards-bar {
  /*black bar for cards */
  height: 3px;
  width: 30px;
  background-color: #000000;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 323, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-bespoke {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #67809f;
}

/* line 328, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-it {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #4183d7;
}

/* line 333, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-digital {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #2ecc71;
}

/* line 338, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-telecoms {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #d64541;
}

/* line 343, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-web {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #926fb1;
}

/* line 348, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-cyber {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #f62459;
}

/* line 353, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-dev {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #926fb1;
}

/* line 361, ../../../Desktop/netmatters2/scss/style.scss */
.news {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* line 387, ../../../Desktop/netmatters2/scss/style.scss */
.news-cards {
  /*typography for news cards subheading & button */
  /*creates 3x news cards */
  text-align: left;
  height: 65%;
  max-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;
  border-top: none;
}

/* line 389, ../../../Desktop/netmatters2/scss/style.scss */
.news-cards p:nth-child(2) {
  font-size: 13px;
}

/* line 392, ../../../Desktop/netmatters2/scss/style.scss */
.news-cards button {
  padding: 5px 15px;
  color: #FFFFFF;
  background-color: #C8A2C8;
  border-radius: 5px;
  border-style: none;
  font-size: 17px;
}

/* line 402, ../../../Desktop/netmatters2/scss/style.scss */
.news-cards .title {
  color: #926fb1;
}

/* line 406, ../../../Desktop/netmatters2/scss/style.scss */
.card-image {
  /*image that sits atop the cards */
  object-fit: contain;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 413, ../../../Desktop/netmatters2/scss/style.scss */
.card-head .card-head-button {
  /*button for top right of card */
  background-color: #926fb1;
  right: 100%;
  color: #FFFFFF;
  font-size: 0.8rem;
  border: none;
  padding: 3px 10px;
  z-index: 1;
  position: absolute;
  transform: translate(313px, 10px);
}

/* line 425, ../../../Desktop/netmatters2/scss/style.scss */
.card-head {
  position: relative;
}

/* line 430, ../../../Desktop/netmatters2/scss/style.scss */
.grey-bar {
  /*grey bar above news card dates */
  max-width: 100%;
  background-color: #ccc;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 438, ../../../Desktop/netmatters2/scss/style.scss */
.logo-date {
  /* logo and date stuff */
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  font-size: 0.9rem;
  max-height: 47px;
}

/* line 447, ../../../Desktop/netmatters2/scss/style.scss */
.logo-date .date {
  display: flex;
  flex-direction: column;
}

/* line 450, ../../../Desktop/netmatters2/scss/style.scss */
.logo-date .date p:first-of-type {
  color: #333645;
}

/* line 455, ../../../Desktop/netmatters2/scss/style.scss */
.small-logo {
  position: relative;
  height: 47px;
  width: 47px;
  margin-right: 30px;
}

/* line 463, ../../../Desktop/netmatters2/scss/style.scss */
.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 375px;
  background-image: linear-gradient(red, yellow);
}

/* line 471, ../../../Desktop/netmatters2/scss/style.scss */
.signup {
  color: #333645;
  padding: 50px 45px;
  background-color: #d6d6d6;
}

/* line 477, ../../../Desktop/netmatters2/scss/style.scss */
.signup-field {
  border-radius: 3px;
  border-color: rgba(85, 85, 85, 0);
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
}

/* line 487, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox {
  /*typography for checkbox container */
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

/* line 491, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox p {
  font-weight: 600px;
  line-height: 32px;
}

/* line 494, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox p a {
  color: inherit;
  text-decoration: underline;
}

/* line 501, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox-input {
  /*hides original checkbox */
  display: none;
}

/* line 505, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox-box {
  /*creates custom checkbox */
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 3px solid #333645;
  display: flex;
  flex-shrink: 0;
  margin-right: 15px;
}

/* line 516, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox-input:checked + .checkbox-box:after {
  /*creates a white tick */
  content: '\2714';
  color: #fff;
}

/* line 521, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox-input:checked + .checkbox-box {
  /*highlights area in box */
  background-color: #333645;
  color: #ffffff;
  justify-content: center;
}

/* line 529, ../../../Desktop/netmatters2/scss/style.scss */
.subscribe-button {
  /*signup subscribe button*/
  background-color: #333645;
  padding: 10px 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

/*footer*/
/* line 539, ../../../Desktop/netmatters2/scss/style.scss */
footer {
  /*typography */
}

/* line 540, ../../../Desktop/netmatters2/scss/style.scss */
footer h4 {
  font-size: 16px;
  line-height: 17.6px;
}

/* line 544, ../../../Desktop/netmatters2/scss/style.scss */
footer li {
  font-size: 13px;
  line-height: 22px;
}

/* line 550, ../../../Desktop/netmatters2/scss/style.scss */
.footer-container {
  background-color: #333645;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: 10% 5%;
}

/* line 560, ../../../Desktop/netmatters2/scss/style.scss */
.info-block ul {
  /*formatting for everything but the socials icons*/
  padding: 0%;
}

/* line 564, ../../../Desktop/netmatters2/scss/style.scss */
.info-box {
  list-style-type: none;
}

/* line 568, ../../../Desktop/netmatters2/scss/style.scss */
.info-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* line 574, ../../../Desktop/netmatters2/scss/style.scss */
.socials-block {
  background-color: #333645;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

/* line 583, ../../../Desktop/netmatters2/scss/style.scss */
.socials-block ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}

/* line 591, ../../../Desktop/netmatters2/scss/style.scss */
.socials {
  /*socials icons*/
  padding: 0.8rem 4rem;
  color: #FFFFFF;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  width: 40%;
  margin: 15px;
  justify-content: center;
  font-size: 2rem;
}

/* line 606, ../../../Desktop/netmatters2/scss/style.scss */
.facebook:hover {
  /*hover colour changes*/
  background-color: #4267B2;
}

/* line 610, ../../../Desktop/netmatters2/scss/style.scss */
.twitter:hover {
  background-color: #1DA1F2;
}

/* line 614, ../../../Desktop/netmatters2/scss/style.scss */
.linkedin:hover {
  background-color: #2867b2;
}

/*partners*/
/* line 621, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images {
  margin: 50px 375px;
}

/* line 625, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* line 631, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images-2 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* line 637, ../../../Desktop/netmatters2/scss/style.scss */
.hide {
  display: none;
}

/* line 640, ../../../Desktop/netmatters2/scss/style.scss */
.hide:hover .overlay {
  display: block;
}

/* media queries */
/*hides sponsors & partners for mobile viewing */
@media screen and (min-width: 0px) and (max-width: 1024px) {
  /* line 649, ../../../Desktop/netmatters2/scss/style.scss */
  .partner-images, .sponsors, .navbar, .navbar-box, .header-buttons, .header-support, .header-contact {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */