/* line 5, ../../../Desktop/netmatters2/scss/style.scss */
body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
  color: #666;
}

/* line 11, ../../../Desktop/netmatters2/scss/style.scss */
h2 {
  font-weight: 400px;
}

/* line 15, ../../../Desktop/netmatters2/scss/style.scss */
.header-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  max-width: 100%;
}

/* line 22, ../../../Desktop/netmatters2/scss/style.scss */
.header-container-top {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 25px;
}

/* line 30, ../../../Desktop/netmatters2/scss/style.scss */
.header-container-bottom {
  flex-direction: row;
  max-width: 100%;
  max-height: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

/* line 38, ../../../Desktop/netmatters2/scss/style.scss */
.search-size {
  display: flex;
  flex-grow: 9;
  height: 3.4rem;
  background-color: #f1f1f1;
  border-right: none;
  border-color: #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 50, ../../../Desktop/netmatters2/scss/style.scss */
.header-search-button {
  height: 3.4rem;
  width: 3.4rem;
  background-color: #f1f1f1;
  color: #333645;
  font-size: 1.5rem;
  border-left: none;
  border-color: #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .header-container {
  max-width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.header-interactive {
 display: flex;
 justify-content: space-around;
 justify-content: flex-end;
 gap: 20px;
}
*/
/* line 80, ../../../Desktop/netmatters2/scss/style.scss */
.header-buttons {
  border-radius: 5px;
  padding: 5 15;
  font-size: 1.15rem;
  color: #FFFFFF;
  width: 9rem;
  height: 3.5rem;
}

/* line 89, ../../../Desktop/netmatters2/scss/style.scss */
.header-support {
  background-color: #4183d7;
  border: none;
}

/* line 94, ../../../Desktop/netmatters2/scss/style.scss */
.header-contact {
  background-color: #999aa2;
  border: none;
}

/*
.search-size {
  height: 3.3rem;
  width: 14rem;
}

.header-search-button {
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  background-color: #999aa2;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.15rem;
}
*/
/* line 115, ../../../Desktop/netmatters2/scss/style.scss */
.small {
  font-size: 0.5rem;
}

/* line 118, ../../../Desktop/netmatters2/scss/style.scss */
.navbar {
  display: flex;
  justify-content: center !important;
  background-color: #333645;
  padding: 0px !important;
}

/* line 125, ../../../Desktop/netmatters2/scss/style.scss */
.navbar-box {
  list-style-type: none;
  background-color: #333645;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0px;
}

/* line 137, ../../../Desktop/netmatters2/scss/style.scss */
.hero {
  background: url("../bio-image/bio-web.jpg") no-repeat center;
  background-size: cover;
  height: 740px;
}

/* line 143, ../../../Desktop/netmatters2/scss/style.scss */
.hero-text {
  text-align: center;
  max-width: 100%;
  color: #FFFFFF;
  padding: 300px 15px;
}

/* line 157, ../../../Desktop/netmatters2/scss/style.scss */
.hero-button {
  color: #FFFFFF;
  background-color: #C8A2C8;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

/* line 163, ../../../Desktop/netmatters2/scss/style.scss */
.bio {
  max-width: 100%;
  color: #FFFFFF;
  background-color: #333645;
  padding: 40px 15px;
  line-height: 2;
}

/* line 173, ../../../Desktop/netmatters2/scss/style.scss */
.bio-button {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #333645;
}

/* line 181, ../../../Desktop/netmatters2/scss/style.scss */
.latest-master {
  display: flex;
  flex-direction: row;
}

/* line 185, ../../../Desktop/netmatters2/scss/style.scss */
.latest-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

/* line 191, ../../../Desktop/netmatters2/scss/style.scss */
.latest-header {
  padding-top: 30px;
  color: #000000;
}

/* line 196, ../../../Desktop/netmatters2/scss/style.scss */
.latest-bar {
  margin-top: 30px;
  height: 5px;
  max-width: 100%;
  background-color: #000000;
}

/* line 204, ../../../Desktop/netmatters2/scss/style.scss */
.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

/*background circle on cards */
/* line 221, ../../../Desktop/netmatters2/scss/style.scss */
.movedown {
  line-height: 3.5rem;
}

/* line 225, ../../../Desktop/netmatters2/scss/style.scss */
.circle-bespoke {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #67809f;
}

/* line 230, ../../../Desktop/netmatters2/scss/style.scss */
.circle-it {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #4183d7;
}

/* line 235, ../../../Desktop/netmatters2/scss/style.scss */
.circle-digital {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #2ecc71;
}

/* line 240, ../../../Desktop/netmatters2/scss/style.scss */
.circle-telecoms {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #d64541;
}

/* line 245, ../../../Desktop/netmatters2/scss/style.scss */
.circle-web {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #C8A2C8;
}

/* line 250, ../../../Desktop/netmatters2/scss/style.scss */
.circle-cyber {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #f62459;
}

/* line 255, ../../../Desktop/netmatters2/scss/style.scss */
.circle-dev {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: 40%;
  color: #FFFFFF;
  font-size: 1.1rem;
  background-color: #C8A2C8;
}

/* line 275, ../../../Desktop/netmatters2/scss/style.scss */
.cards {
  /* creates the cards */
  text-align: center;
  height: 20rem;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 279, ../../../Desktop/netmatters2/scss/style.scss */
.cards-bar {
  /*black bar for cards */
  height: 3px;
  width: 30px;
  background-color: #000000;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 20px;
}

/* line 295, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-bespoke {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #67809f;
}

/* line 300, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-it {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #4183d7;
}

/* line 305, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-digital {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #2ecc71;
}

/* line 310, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-telecoms {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #d64541;
}

/* line 315, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-web {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #C8A2C8;
}

/* line 320, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-cyber {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #f62459;
}

/* line 325, ../../../Desktop/netmatters2/scss/style.scss */
.cards-button-dev {
  /*button without colour for cards, below is each background colour */
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #C8A2C8;
}

/* line 333, ../../../Desktop/netmatters2/scss/style.scss */
.news {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 357, ../../../Desktop/netmatters2/scss/style.scss */
.news-cards {
  text-align: left;
  height: 65%;
  max-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;
  border-top: none;
}

/* line 361, ../../../Desktop/netmatters2/scss/style.scss */
.card-image {
  object-fit: contain;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 368, ../../../Desktop/netmatters2/scss/style.scss */
.card-head .card-head-button {
  background-color: #C8A2C8;
  right: 100%;
  color: #FFFFFF;
  font-size: 0.8rem;
  border: none;
  padding: 3px 10px;
  z-index: 1;
  position: absolute;
  transform: translate(313px, 10px);
}

/* line 380, ../../../Desktop/netmatters2/scss/style.scss */
.card-head {
  position: relative;
}

/* line 385, ../../../Desktop/netmatters2/scss/style.scss */
.grey-bar {
  max-width: 100%;
  background-color: #ccc;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 393, ../../../Desktop/netmatters2/scss/style.scss */
.logo-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 400, ../../../Desktop/netmatters2/scss/style.scss */
.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 375px;
  background-image: linear-gradient(red, yellow);
}

/* line 408, ../../../Desktop/netmatters2/scss/style.scss */
.signup {
  color: #333645;
  padding: 50px 40px;
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 414, ../../../Desktop/netmatters2/scss/style.scss */
.signup-field {
  margin-left: 5px 40px;
}

/* line 417, ../../../Desktop/netmatters2/scss/style.scss */
.checkbox {
  display: flex;
  flex-direction: row;
}

/* line 422, ../../../Desktop/netmatters2/scss/style.scss */
.subscribe-button {
  background-color: #333645;
  padding: 10px 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

/*footer*/
/* line 431, ../../../Desktop/netmatters2/scss/style.scss */
.footer-container {
  background-color: #333645;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: 5%;
}

/* line 441, ../../../Desktop/netmatters2/scss/style.scss */
.info-block ul {
  padding: 0%;
}

/* line 445, ../../../Desktop/netmatters2/scss/style.scss */
.info-box {
  list-style-type: none;
}

/* line 449, ../../../Desktop/netmatters2/scss/style.scss */
.info-block {
  display: flex;
  flex-direction: column;
}

/* line 454, ../../../Desktop/netmatters2/scss/style.scss */
.socials-block {
  background-color: #333645;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

/* line 463, ../../../Desktop/netmatters2/scss/style.scss */
.socials-block ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}

/* line 471, ../../../Desktop/netmatters2/scss/style.scss */
.socials {
  padding: 0.8rem 4rem;
  color: #FFFFFF;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  width: 40%;
  margin: 15px;
  justify-content: center;
  font-size: 2rem;
}

/* line 486, ../../../Desktop/netmatters2/scss/style.scss */
.facebook:hover {
  background-color: #4267B2;
}

/* line 490, ../../../Desktop/netmatters2/scss/style.scss */
.twitter:hover {
  background-color: #1DA1F2;
}

/* line 494, ../../../Desktop/netmatters2/scss/style.scss */
.linkedin:hover {
  background-color: #2867b2;
}

/*partners*/
/* line 501, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images {
  margin: 50px 375px;
}

/* line 505, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* line 511, ../../../Desktop/netmatters2/scss/style.scss */
.partner-images-2 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* line 517, ../../../Desktop/netmatters2/scss/style.scss */
.hide {
  display: none;
}

/* line 520, ../../../Desktop/netmatters2/scss/style.scss */
.hide:hover .overlay {
  display: block;
}

/* media queries */
/*hides sponsors & partners for mobile viewing */
@media screen and (min-width: 0px) and (max-width: 1024px) {
  /* line 529, ../../../Desktop/netmatters2/scss/style.scss */
  .partner-images, .sponsors, .navbar, .navbar-box, .header-buttons, .header-support, .header-contact {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */