

//colour variables

$purple: #926fb1;
$slate: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #d64541;
$pink: #f62459;


$themes: (
'7': #926fb1,
'1': #67809f,
'2': #4183d7,
'3': #2ecc71,
'4': #d64541,
'6': #f62459,
'5': #926fb1
);


$navbar-colours: (
'1': #926fb1,
'2': #4183d7,
'3': #d64541,
'4': #67809f,
'5': #2ecc71,
'6': #d64541,
);


// Breakpoints
$break-xs: 767px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1260px;
