

//colour variables

$purple: #926fb1;
$slate: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #d64541;
$pink: #f62459;


$themes: (
'7': #926fb1,
'1': #67809f,
'2': #4183d7,
'3': #2ecc71,
'4': #d64541,
'6': #f62459,
'5': #926fb1
);


// Breakpoints
$break-xs: 767px;
$break-sm: 768px;
$break-med: 768px;
$break-lg: 992px;
$break-xl: 1260px;

$breakpoints: (
  'xs':767px,
  'sm': 768px,
  'med': 768px,
  'lg': 992px,
  'xl': 1260px );
