
* {
  box-sizing: border-box; /*includes borders in box sizes */
}

@import '_variables'; /*colour key*/


body { /*base for site*/
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
  color: #666;
  line-height: 1.42857143;
  background-color: rgba(0,0,0,.03);
}


 .header-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  max-width: 100%;
  align-items: center;
  background-color: #FFFFFF;

  .top { /*top half of the header */
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 25px;
    .logo {
      object-fit: contain;
      max-width: 100%;
      flex-shrink: 1;
      margin-top: 10px;
      img {
        max-width: 100%;
    }
  }
 }
 }

 .phone { /*phone icon in header, below class creats underline */
   font-size: 30px;
   color: #333645;
   margin-left: 20px;
   margin-right: 30px;
   margin-bottom: 20px;
   }

.phone:hover { /*gives underline on hover */
  border-bottom: 3px solid #333645;
}

.header-container-bottom { /*lower half of the header */
  flex-direction: row;
  width: 100%;
  max-height: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px;
   form {
     flex-grow: 1;
   }
}
.search-size { /*search bar in header */
  width: 100%;
  height: 42px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  background-color: #d6d6d6;
}

.header-search-button { /*search button in header */
  height: 42px;
  width: 42px;
  color: #333645;
  font-size: 1.5rem;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d6d6d6;
}


.header-buttons { /*button sizings*/
  border-radius: 5px;
  padding: 5 15;
  font-size: 1.15rem;
  color: #FFFFFF;
  width: 9rem;
  height: 3.5rem;
}

.header-support { /*support button */
  background-color: #4183d7;
  border: none;
}

.header-contact { /*contact button*/
  background-color: #999aa2;
  border: none;
  }


.navbar {
  justify-content: center;
  display: flex;
  background-color: #333645;
  padding: 0px;
}

  @for $i from 1 through 6 { /*for loop to create navbar boxes */
    .nav-#{$i} {

      text-align: center;
      max-height: 99px;
      width: 154px;
      cursor: pointer;
      color: #FFFFFF;
      background-color: #333645;
      align-items: center;
      display: flex;
      padding: 20px 0px;

       ul {
        list-style-type: none;
        li:nth-child(2) {
         font-size: 10px;
         li:nth-child(1, 3) {
           font-size: 18px;
         }
       }
     }
    }
  }

@each $navbar-colours, $color in $navbar-colours { /*each loop to color navbar elements */
  .nav-#{$navbar-colours} {
    ul {
     li:nth-child(1) {
     color: $color;
    }
   }
  }
 }

 @each $navbar-colours, $color in $navbar-colours { /*each loop for navbar element hover states */
   .nav-#{$navbar-colours}:hover {
     background-color: $color;
     ul {
       li:nth-child(1) {
         color: #FFFFFF;
       }
     }
}
}


@for $i from 1 through 6 { /*for loop to create navbar boxes */
  .navdown-#{$i} {
    display: none;
    width: 100%;
     ul {
       text-align: center;
     }
     li {
       list-style-type: none;
       display: inline;
       color: #FFFFFF;
       font-size: 13px;
       padding: 0px 5px 5px 0px;
     }
  }
}

@for $i from 1 through 6 { /*for to create dropdown menus */
  .nav-#{$i}:hover {
    .navdown-#{$i} {
    display: inline;
    position: absolute;
  }
}
}


@each $navbar-colours, $color in $navbar-colours { /*each loop for navbar element hover states */
  .navdown-#{$navbar-colours} {
    background-color: $color;
  }
}










.hero { /*hero banner */
  background: url("../bio-image/bio-web.jpg") no-repeat center;
  background-size: cover;
  height: 740px;
}

 .hero-text {
  text-align: center;
  max-width: 100%;
  color: #FFFFFF;
  padding: 300px 15px;
   h1 {
     font-size: 48px;
     font-weight: 400;
   }
   p {
     font-size: 20px;
     font-weight: inherit;
   }
}
@mixin hero-button { /*pointless mixin for hero button, was used elsewhere but deemed redundant */
    color: #FFFFFF;
    background-color: #C8A2C8;
    padding: 5px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    line-height: 50px;
}

.hero-button {
  @include hero-button
}



.bio { /*netmatters bio further down the page */
  max-width: 100%;
  color: #FFFFFF;
  background-color: #333645;
  padding: 40px 15px;
  line-height: 2;
}



.bio-button { /*button for bio section*/
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #333645;
}

.latest-master { /*anything beginning with .latest is for the little bit that literally just says 'latest' with a bar below it */
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
}
.latest-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.latest-header {
 padding-top: 30px;
 color: #000000;
 font-size: 20px;
 font-weight: 600;;
 line-height: 24px;
}

.latest-bar { /*black bar*/
  margin-top: 30px;
  height: 5px;
  max-width: 100%;
  background-color: #000000;
}


.cards-container { /*7 cards for services netmatters offers */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}


@each $theme, $color in $themes { /*each loop to colour card elements */
  .cards-#{$theme}:hover {
    background-color: $color;
    border-color: $color;
    p {
      color: #FFFFFF;
    }
    h2 {
      color: #FFFFFF;
    }
    button {
      background-color: #FFFFFF;
    }
    .cards-bar {
      background-color: #FFFFFF;
    }
    .circle-#{$theme} {
      background-color: #FFFFFF;
      color: $color
    }
    .button-#{$theme} {
      color: $color
    }
  }
  .cards-#{$theme} .button-#{$theme} {
    background-color: $color
  }
  .cards-#{$theme} .circle-#{$theme} {
    background-color: $color
  }

}


@for $i from 1 through 7 { /*for loop to create black & white cards */
  .cards-#{$i} {
    text-align: center;
    max-height: none;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    cursor: pointer;
    color: #000000;
    background-color: #FFFFFF;

    h2 {
      font-size: 18px;
      font-weight: 400px;
    }
    p {
      font-size: 13px;
      line-height: 22px;
      }

  .button-#{$i} {
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
   }
   .cards-bar { /*black divide bar*/
     height: 3px;
     width: 30px;
     background-color: #000000;
     align-items: center;
     margin-bottom: 10px;
     margin-top: 10px;
     display: inline-block;
   }
   .circle-#{$i} { /*circle icon*/
     height: 60px;
     width: 60px;
     border-radius: 50%;
     margin-left: 40%;
     margin-right: 40%;
     font-size: 1.1rem;
     margin-bottom: 1rem;
     justify-content: center;
     color: #FFFFFF;
     display: inline-block;
   }
   .movedown {
     line-height: 3.5rem;
   }
}
}

@mixin news-cards { /*mixin to create news cards, includes typography and layout*/
  text-align: left;
  max-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;
  border-top: none;
  background-color: #FFFFFF;
  p:nth-child(1) {
    color: $purple;
  }
  p:nth-child(2) {
    font-size: 13px;
  }
  .footer { /*small logo & date*/
    display: flex;
    flex-direction: row;
  }
  .date {
    display: flex;
    flex-direction: column;
    p:nth-child(1) {
      color: #333645;
      size: 14px !important;
    }
  }
  .button-lower { /*read more button*/
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #C8A2C8;
    border-radius: 5px;
    border-style: none;
    font-size: 17px;
  }
  .grey-bar { /*dividing grey bar*/
    max-width: 100%;
    background-color: #ccc;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .small-logo {
    position: relative;
    height: 47px;
    width: 47px;
    margin-right: 20px;
  }
}

.news { /*container for news section*/
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 45px;
  padding-bottom: 10px;
}

.news-head { /*header for news cards: image & news button*/
  max-width: 100%;
  object-fit: contain;
  position: relative;
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 0;
    transition: .3s;
    }
    img:hover {
      transform: scale(1.1);
      overflow: hidden;
      width: 100%;
      object-fit: contain;
    }
  button {
   padding-left: 10px;
   padding-right: 10px;
   color: #FFFFFF;
   background-color: #C8A2C8;
   border-style: none;
   font-size: 12px;
   z-index: 1;
   right: 0; top: 10px;
   position: absolute;
 }
}

.news-cards {
    @include news-cards;
  }





.sponsors {
  display: flex;
  background-color: #FFFFFF;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 100%;
  object-fit: contain;
  align-items: center;
  img {
    max-width: 100%;
    flex-shrink: 1;
    object-fit: contain;
    cursor: pointer;
  }
  .img {
    margin: 50px 20px;
    .colour {
      display: none;
    }
    .grey:hover {
      display: none;
      + .colour {
        display: block;
      }
    }
  }
}


.signup {
  color: #333645;
  padding: 50px 45px;
  background-color: #d6d6d6;
}

.signup-field {
  border-radius: 3px;
  border-color: rgba(85, 85, 85, 0);
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
}



.checkbox { /*typography for checkbox container */
  display: flex;
  cursor: pointer;
  flex-direction: row;
  p {
    font-weight: 600px;
    line-height: 32px;
  a {
    color:inherit;
    text-decoration: underline;
    }
  }
}

.checkbox-input { /*hides original checkbox */
  display: none;
}

.checkbox-box { /*creates custom checkbox */
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 3px solid #333645;
  display: flex;
  flex-shrink: 0;
  margin-right: 15px;
}


.checkbox-input:checked + .checkbox-box:after { /*creates a white tick */
  content: '\2714';
  color: #fff;
}

.checkbox-input:checked + .checkbox-box { /*highlights area in box */
  background-color: #333645;
  color: #ffffff;
  justify-content: center;
}



.subscribe-button { /*signup subscribe button*/
  background-color: #333645;
  padding: 10px 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}


/*footer*/
 footer { /*typography */
   h4 {
     font-size: 16px;
     line-height: 17.6px;
   }
   p {
     font-size: 13px;
     line-height: 22px;
     display: inline;
   }
 }

.footer-container {
  background-color: #333645;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: 45px 15px;
}

.socials-block {
  background-color: #333645;
  display: flex;
  color: #FFFFFF;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  flex-direction: row;
  button {
    padding: 0.8rem 4rem;
    border: none;
    color: #FFFFFF;
    background-color: rgba(0,0,0,.25);
    display: flex;
    width: 45%;
    justify-content: center;
    font-size: 2rem;
    margin: 15px;
 }
}

.facebook:hover {
  background-color: #4267B2;
}

.twitter:hover {
  background-color: #1DA1F2;
}

.linkedin:hover {
  background-color: #2867b2;
}


/*partners*/

.partners {
  display: flex;
  background-color: #FFFFFF;
  flex-shrink: 1;
  max-width: 100%;
  object-fit: contain;
  padding: 50px 15px;
  flex-direction: column;
}
  .toprow {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    max-width: 100%;
    object-fit: contain;
    img {
      max-width: 100%;
      flex-shrink: 1;
      object-fit: contain;
      cursor: pointer;
      padding-left: 20px;
      padding-right: 20px;
  }
  .img {
    .colour {
      display: none;
    }
    .grey:hover {
      display: none;
      + .colour {
        display: block;
      }
    }
  }
}

  .bottomrow {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    width: 100%;
    object-fit: contain;
    img {
      max-width: 100%;
      object-fit: contain;
      cursor: pointer;
      padding-left: 20px;
      padding-right: 20px;
  }
  .img {
    .colour {
      display: none;
    }
    .grey:hover {
      display: none;
      + .colour {
        display: block;
      }
    }
  }
}



/* media queries */




/*hides sponsors, partners & navbar for mobile viewing */
@media screen and (min-width: 0px) and (max-width: 1260px) {
  .partners, .sponsors, .navbar, .navbar-box, .header-buttons, .header-support, .header-contact{
    display: none;
      }
    }


@media screen and (min-width: $break-sm) {
  .sponsors { /*displays sponsors on small screens & up */
    display: flex;
    }
  .partners { /*displays partners on small screens & up */
    display: flex;
  }
   .news {
     display: flex;
     flex-direction: row;
     .nc3 { /*hides third news card on small screens */
     display: none;
    }
    .nc1, .nc2 { /*specifies width and changes flex to row on small screens */
      margin: 10px;
      width: 345px;
    }
  }
  .header-container-bottom {
    display: none;
  }
  .header-container {
    .phone {
      display: none;
    }
  }
}


@media screen and (min-width: $break-sm) {
  .news { /*sets width for news cards 1 & 2 */
    .nc1, .nc2 {
      width: 455px;
    }
  }
@for $i from 4 through 7 { /*sets width for services card 4-7*/
    .cards-#{$i} {
      max-width: 354px;
      flex-direction: row;
      flex-wrap: wrap;
  }
}
@for $i from 1 through 3 { /*sets width for services card 1-3*/
     .cards-#{$i} {
       max-width: 720px;
       justify-content: center;
     }
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

  }
}

@media screen and (min-width: $break-md) {
 @for $i from 1 through 3 {  /*sets width for services card 1-3*/
   .cards-#{$i} {
     max-width: 293px;
   }
 }
 @for $i from 4 through 7 { /*sets width for services card 4-7*/
   .cards-#{$i} {
     max-width: 455px;
   }
  }
  .navbar, .navbar-box, {
    display: flex;
  }
  .hero-text, .hero-button {
    float: left;
    text-align: left;
  }
  .signup {
    align-items: center;
    .signup-field {
      display: inline-block;
    }
  }
   /*.bio {
  background: url("../background-image/background-logo.png") no-repeat center;
} */
}




@media screen and (min-width: $break-lg) {
  .news {
    .nc3 { /*display news card 3 on XL & resizes*/
      display: flex;
      flex-direction: column;
      width: 370px;
      margin: 15px;
    }
    .nc1, .nc2, { /*resizes news cards 1 & 2 on XL */
    width: 370px;
    margin: 15px;
     }
    }
    @for $i from 1 through 3 {  /*sets width for services card 1-3*/
      .cards-#{$i} {
        max-width: 370px;
      }
    }
    @for $i from 4 through 7 { /*sets width for services card 4-7*/
      .cards-#{$i} {
        max-width: 270px;
      }
     }
  }

/*
  @mixin mq($break) {
$value: ma-get($breakpoints, $break);
$sm: map-get($breakpoints, 'sm');

 @if $break == 'xs' {
  @media (max-width: map-get($breakpoints, 'xs')) {
   @content;
  }
 }
 @else if $break =='sm' {
  @media (min-width: $break-s) {

    }
  }
} */
